.portfolio__navigation {
  @include centeredFlex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.portfolio__btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;

  color: $title-color;
  background-color: $main-bg-color;

  transition: color $time-animation $cubic-bezier, background-color $time-animation $cubic-bezier,
    box-shadow $time-animation $cubic-bezier;
  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio__btn--active {
  color: $white-color;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__link {
  display: block;

  transition: box-shadow $time-animation $cubic-bezier;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__meta {
  padding: 19px 24px;
  border: 1px solid #eeeeee;
}
.portfolio__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.portfolio__descr {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
}

.image-thumb {
  position: relative;

  overflow: hidden;
}
.overlay {
  @include centeredFlex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 0 24px;

  background-color: $overlay-bgcolor;

  transform: translateY(101%);
  transition: transform $time-animation $cubic-bezier;

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;

  color: $white-color;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
    height: auto;

    &:first-child .portfolio__meta {
      padding-bottom: 56px;
    }
  }
}
@media screen and (min-width: 768px) {
  .portfolio__navigation {
    justify-content: center;
  }
}
