.hero {
  margin: 0 auto;
  padding: 118px 0;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/index/tablet/hero-tablet.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: $secondary-bg-color;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index/tablet/hero-tablet@2x.jpg);
  }
}
.hero__title {
  margin: 0 auto 30px;

  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: $white-color;
}

.hero__button {
  @extend %button;

  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index/mobile/hero-mobile.jpg);
    background-position: center;
    max-width: 480px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/index/mobile/hero-mobile@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;

    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index/desktop/hero-desktop.jpg);
    background-position: center;
    background-size: 1600px 600px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/index/desktop/hero-desktop@2x.jpg);
    }
  }

  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
