.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity $time-animation $cubic-bezier;
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  max-width: 450px;
  width: 100%;
  min-height: 609px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform $time-animation $cubic-bezier;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: transparent;
  transition: color $time-animation $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-close {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.modal__caption {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $title-color;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-color;
}

.input-container {
  display: block;
  position: relative;

  margin-top: 4px;

  color: $title-color;

  transition: color $time-animation $cubic-bezier;

  &:focus-within .form__input {
    border-color: $accent-color;
  }
  &:focus-within {
    color: $accent-color;
  }
}
.form__input {
  display: block;

  padding: 0 42px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color $time-animation $cubic-bezier;
}
.form__icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 12px;

  width: 18px;
  height: 18px;

  fill: currentColor;
}

.form__comment {
  resize: none;
  display: block;

  margin-top: 4px;
  padding: 12px 16px;

  width: 100%;
  height: 120px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color $time-animation $cubic-bezier;
  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 31px;

  display: flex;
  align-items: center;
}
.checkbox__icon {
  margin-right: 8px;

  width: 16px;
  height: 15px;
  border: 2px solid $title-color;
  border-radius: 2px;

  transition: border-color $time-animation $cubic-bezier;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.17;
  color: $text-color;
}
.checkbox__condition {
  color: $accent-color;
  text-decoration: underline;
}

.form__button {
  @extend %button;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
  .modal__caption {
    line-height: 1.15;
  }

  .checkbox {
    margin-bottom: 30px;
  }
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}
