.staff {
  background-color: $main-bg-color;
}

.staff__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.staff__item {
  background-color: $white-color;
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.staff__descr {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.staff__content {
  padding: 30px 0 24px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .staff__list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .staff__item {
    max-width: calc((100% - 30px) / 2);
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .staff__item {
    max-width: calc((100% - 90px) / 4);
    width: 100%;
  }
  .staff__content {
    padding-bottom: 30px;
  }
}
