img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  color: $text-color;
}
a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
body {
  background-color: $white-color;
  color: $title-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Section

// Title
.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
