$accent-color: #2196f3;
$text-color: #757575;
$title-color: #212121;
$white-color: #ffffff;
$main-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$time-animation: 250ms;
$overlay-bgcolor: rgba(33, 150, 243, 0.9);
